QPushButton {
    background-color: #3e3f43;
    border: none;
 }
 QPushButton:pressed {
     background: url('images/green.png');     
 }
 QPushButton:hover {
     background-color: #1a1b1f;
 }
  QPushButton:disabled {
     background: url('images/red.png');   
 }